.wrapper{
    min-height: calc(100% - 300px);
    padding-top: 20px;
  }
.check-container-title{
  width: 95%;
  margin: 0 auto;
}
.check-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  .check-container-products{
    padding: 20px;
    background: white;
    border-radius: 20px;
    .check-product:nth-child(1){
      margin-top: 0px;
    }
    .check-product{
      display: flex;
      margin-top: 20px;
      .check-product-image{
        margin-right: 20px;
        img{
          border-radius: 10px;
          width: 120px;
          height: 100%;
          object-fit: cover;
        }
      }
      .check-product-infos{
        width: 100%;
        display: flex;
        flex-direction: column;
        span{
          color: #797979;
        }
        .check-product-info-title{
          h4{
            margin-bottom: 10px;
            margin-top: 10px;
          }
        }
        .check-product-info-content{
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button{
            width: 40px;
            height: 40px;
            border: none;
            background: black;
            color: white;
            border-radius: 50px;
            cursor: pointer;
          }
        }
        
      }
    }
  }
  .check-container-proceed{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    form{
      .check-container-form{
        background: white;
        border-radius: 20px;
        padding: 20px;
        input{
          width: 100%;
          padding: 10px;
          border-radius: 10px;
          border: 1px solid #dadada;
          margin-top: 10px;
          outline: none;
          &:focus{
            border: 1px solid black;
          }
        }
        input.disabled{
           background: #f0f0f0;
           pointer-events: none; 
        }
        .check-container-useadress{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          p{
            max-width: 68%;
          }
          .switch {
            display: inline-block;
            height: 34px;
            position: relative;
            width: 60px;
            input{
              display: none;
            }
            .slider {
              background-color: #ccc;
              bottom: 0;
              cursor: pointer;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              transition: .4s;
            }
            .slider:before {
              background-color: #fff;
              bottom: 4px;
              content: "";
              height: 26px;
              left: 4px;
              position: absolute;
              transition: .4s;
              width: 26px;
            }
            input:checked + .slider {
              background-color: #000;
            }
            
            input:checked + .slider:before {
              transform: translateX(26px);
            }
            .slider.round {
              border-radius: 34px;
            }
            
            .slider.round:before {
              border-radius: 50%;
            }
            
          }
        }
        .check-container-connection{
          display: flex;
          align-items: center;
          justify-content: space-between;
          p{
            max-width: 68%;
          }
          a{
            button{
              padding: 10px 15px;
              background: black;
              color: white;
              outline: none;
              border: none;
              border-radius: 5px;
              cursor: pointer;

            }
          }
        }
      }
      .check-container-payments{
        background: white;
        border-radius: 20px;
        padding: 20px;
        margin-top: 30px;
        .payments-item{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin: 0 auto;
          height: 80px;
          border: 1px solid #dadada;
          padding: 10px;
          border-radius: 10px;
          margin-top: 10px;
          .payments-item-brand{
            .label-cont {
              display: block;
              position: relative;
              padding-left: 5px;
              cursor: pointer;
              font-size: 22px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              font-size: 19px;
              padding-top: 2px;
            }
            .label-cont input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }
            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #fff;
              border: 1px solid #DADADA;
              padding: 2px;
              border-radius: 50%;
              margin-top: 3px;
            }
            .label-cont:hover input ~ .checkmark {
              background-color: #fff;
            }

            .label-cont input:checked ~ .checkmark {
              background-color: #fff;
            }
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }
            .label-cont input:checked ~ .checkmark:after {
              display: block;
            }
            .label-cont .checkmark:after {
              top: 4px;
              left: 4px;
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background: black;
            }
            span:not(.label-cont span){
              margin-left: 45px;
            }
          }
          .payments-item-image{
            img{
              width: 60px;
              height: auto;
            }
          }
        }
      }
    }  
  }

  .check-container-next{
    margin-top: 30px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 20px;

    .check-container-listing{
      margin-bottom: 20px;
      .check-item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
    .check-container-next-delivery{
      display: flex;
      justify-content: space-between;
    }
    .check-container-next-total{
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
    .check-container-next-button{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 15px;
      a{
        width: 100%;
      }
      button:nth-child(1){
        margin-bottom: 10px;
      }
      .pursue-btn{
        border: 1px solid black;
        background: none;
        color: black;
        outline: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        width: 100%;
      }
      .buy-btn{
        border: none;
        background: black;
        color: white;
        outline: none;
        cursor: pointer;
        padding: 11px;
        border-radius: 5px;
        width: 100%;
      }
    }
  }
}
@media(min-width: 420px){
  .check-container{
    .check-container-products{
      .check-product{
        .check-product-image{
          img{
            width: 150px;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
    .check-container-next{
      .check-container-next-button{
        display: flex;
        flex-direction: row;
      }
    }
  }
}
@media(min-width: 768px){
  .check-container{
    .check-container-proceed{
      .check-container-form{
        display: flex;
        justify-content: space-between;
       .check-container-connection{
        width: 100%;
       }
      }
    }
  }
}
@media(min-width: 960px){
  .check-container{
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;

    .check-container-proceed{
      width: 100%;
      form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        .check-container-form{
          width: 100%;
          justify-content: space-between;
          .check-container-connection{
            width: initial;
          }
        }
        .check-container-payments{
          margin-top: 0;
          width: 30%;
        }
      }
    }
    .check-container-products{
      width: 100%;
    }
    .check-container-next{
      display: flex;
      flex-direction: column;
      margin-top: 0px;
    }
  }
}