.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
}
.contact-container .contact-brand {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.contact-container .contact-brand .contact-brand-title {
  margin-bottom: 50px;
  text-align: center;
}
.contact-container .contact-brand .contact-brand-title p {
  max-width: 300px;
}
.contact-container .contact-brand .contact-brand-socials div {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.contact-container .contact-brand .contact-brand-socials div a {
  color: black;
}
.contact-container .contact-brand .contact-brand-socials div b {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.contact-container .contact-form {
  width: 85%;
}
.contact-container .contact-form .input-name-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-container .contact-form .input-name-block input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 35px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
.contact-container .contact-form .input-name-block label {
  font-weight: 600;
}
.contact-container .contact-form .input-name-block i {
  position: absolute;
  margin-top: 38px;
  margin-left: 12px;
  color: #262626;
}
.contact-container .contact-form .input-firstname {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form .input-lastname {
  display: flex;
  flex-direction: column;
}
.contact-container .contact-form .input-email-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-container .contact-form .input-email-block input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 35px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
.contact-container .contact-form .input-email-block label {
  font-weight: 600;
}
.contact-container .contact-form .input-email-block i {
  position: absolute;
  margin-top: 38px;
  margin-left: 12px;
  color: #262626;
}
.contact-container .contact-form .input-message-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-container .contact-form .input-message-block textarea {
  margin-top: 5px;
  width: 100%;
  height: 200px;
  resize: none;
  padding: 10px 10px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
.contact-container .contact-form .input-message-block label {
  font-weight: 600;
}
.contact-container .contact-form .input-submit-block {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.contact-container .contact-form .input-submit-block button {
  width: 200px !important;
  border: none;
  width: 50px;
  height: 40px;
  border-radius: 5px;
  background: black;
  padding: 0px 15px;
  color: white;
  cursor: pointer;
}

footer {
  width: 100%;
  position: absolute;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 100px;
}

@media (min-width: 520px) {
  .contact-container {
    margin-left: 20px;
  }
  .contact-container .contact-form form {
    width: 100%;
  }
  .contact-container .contact-form form .input-name-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .contact-container .contact-form form .input-name-block input {
    margin-top: 10px;
    width: 220px;
    padding: 10px 35px;
    background: #EDEDED;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }
  .contact-container .contact-form form .input-name-block i {
    margin-top: 45px;
  }
}
body.darkmode--activated .contact-container .contact-form form i {
  color: white;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    margin-top: 100px;
  }

  .contact-container .contact-form {
    width: 500px;
  }
}
@media (min-width: 850px) {
  .contact-container {
    margin-left: 0px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 160px;
    justify-content: space-around;
  }
  .contact-container .contact-brand {
    margin-bottom: 0px;
  }
  .contact-container .contact-brand .contact-brand-title {
    text-align: left;
  }
}/*# sourceMappingURL=contact.css.map */