.product-list-header{
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  h1{
    color: white;
    background: black;
    padding: 10px;
  }
}
.product-list-container{
  margin-top: 40px;
  margin-bottom: 40px;
  .product-list-title{
    text-align: center;
  }
  .product-list-content{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    .product-list-content-topbar{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column-reverse;
      .product-list-filters{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        user-select: none;
        margin-top: 20px;
        button{
          padding: 10px 20px;
          background: black;
          color: white;
          border: none;
          cursor: pointer;
        }
        button:nth-child(2){
          i{
            margin-left: 5px;
          }
        }
      }
      .product-list-search{
        form{
          input{
            background: white;
            border: none;
            padding: 15px 40px;
            border-radius: 5px;
            outline: none;
            box-shadow: 0 0 3px 4px rgb(227 227 227);
            width: 300px;
          }
          i{
            position: absolute;
            margin-left: -290px;
            margin-top: 15px;
            font-size: 18px;
            color: #979797;
          }
        }
      }
    }
    .product-list-content-products{
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      .product-list-content-filters{
        background: white;
        padding: 20px;
        display: none;
        .list-price-slider{
          width: 90%;
          margin: 0 auto;
          .price-slider-title{
            margin-bottom: 15px;
          }
          .price-slider{
            margin-bottom: 20px;
            .noUi-base{
              .noUi-connects{
                .noUi-connect{
                  background: black;
                }
              }
            }
          }
          .list-price-slider-input{
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 100%;
            input[type="number"]{
              width: 69px;
              height: 40px;
              border-radius: 5px;
              border: 1px solid black;
              padding: 10px;
              outline: none;
            }
          }
         
        }
        .list-brand-filter{
          margin-top: 20px;
          .list-brand-filter-content{
            margin-top: 10px;
            .filter-brand-cont {
              display: block;
              position: relative;
              padding-left: 35px;
              margin-bottom: 12px;
              cursor: pointer;
              font-size: 18px;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              input{
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
              }
              .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border-radius: 3px;
              }
              
              .checkmark:after {
                content: "";
                position: absolute;
                display: none;
              } 
            }
            .filter-brand-cont .checkmark:after {
              left: 9px;
              top: 5px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            .filter-brand-cont:hover input ~ .checkmark {
              background-color: #ccc;
            }
            .filter-brand-cont input:checked ~ .checkmark {
              background-color: #000;
            }
            .filter-brand-cont input:checked ~ .checkmark:after {
              display: block;
            }
          }
        }
        .list-filters-submit{
          margin-top: 40px;
          button{
            background: black;
            width: 100%;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            outline: none;
            cursor: pointer;
          }
        }
      }
      .product-list-content-sorting{
        position: absolute;
        display: flex;
        flex-direction: column;
      }
      .product-list-content-filters.active{
        display: flex;
        flex-direction: column;
      }
      .product-list-content-items{
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        .product-list-item{
          width: 100%;
          border: 1px solid #DADADA;
          .prod-list-item-brand{
            height: 200px;
            border-bottom: 1px solid #DADADA;
            background: url('https://via.placeholder.com/150');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: flex-end;
            padding-right: 10px;
            padding-top: 10px;
            button{
              border: 1px solid #DADADA;
              width: 40px;
              height: 40px;
              border-radius: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
            }
            button.checked{
              i{
                color: red;
              }
            }
          }
          .prod-list-item-content{
            padding: 10px;
            .prod-list-item-content-title{
              margin-top: 10px;
              h3{
                font-weight: 800;
                a{
                  color: black;
                }
              }
            }
            .prod-list-item-content-infos{
              margin-top: 20px;
              margin-bottom: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .prod-list-item-price{
                span{
                  font-weight: 600;
                  font-size: 1.1rem;
                }
              }
              .prod-list-item-button{
                button{
                  width: 45px;
                  height: 45px;
                  cursor: pointer;
                  background: black;
                  color: white;
                  border: none;
                  border-radius: 50px;
                }
                
              }
            }
          }
        }
      }
    }
  }
}
@media(min-width: 520px){
  .product-list-container{
    .product-list-content{
      .product-list-content-products{
        .product-list-content-items{
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media(min-width: 600px){
  .product-list-container{
    .product-list-content{
      .product-list-content-topbar{
        flex-direction: row;
        .product-list-filters{
          margin-top: 0px;
          justify-content: flex-start;
          button:nth-child(1){
            margin-right: 10px;
          }
        }
      }
    }
  }
}
@media(min-width: 768px){
  .product-list-container{
    .product-list-content{
      .product-list-content-products{
        flex-direction: row;
        justify-content: space-between;
        .product-list-content-filters{
          width: 200px;
        }
        .product-list-content-items{
          width: 68%;
        }
      }
    }
  }
}
@media(min-width: 920px){
  .product-list-container{
    .product-list-content{
      .product-list-content-topbar{
        .product-list-filters{
          button:nth-child(1){
            margin-right: 40px;
          }
        }
      }
      .product-list-content-products{
          .product-list-content-filters{
            width: 230px;
            form{
              .list-price-slider{
                .list-price-slider-input{
                  input[type="number"]{
                    width: 80px;
                  }
                }
              }
            }
          }
          }
        }
    }
   
  }

@media(min-width: 1240px){
  .product-list-container{
    .product-list-content{
      .product-list-content-products{
        .product-list-content-items{
          width: 75%;
          grid-template-columns: repeat(3, 1fr);
        }
      }
    }
  }
}