.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
form h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
form .input-name-block, form .input-adress-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
}
form .input-name-block input, form .input-adress-block input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0px 10px 35px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
form .input-name-block label, form .input-adress-block label {
  font-weight: 600;
}
form .input-name-block i, form .input-adress-block i {
  position: absolute;
  margin-top: 38px;
  margin-left: 12px;
  color: #262626;
}
form .input-lastname,
form .input-streetnumber,
form .input-firstname,
form .input-street,
form .input-city,
form .input-zipcode,
form .input-commune {
  display: flex;
  flex-direction: column;
}
form .input-email-block, form .input-street-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .input-email-block input, form .input-street-block input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 35px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
form .input-email-block label, form .input-street-block label {
  font-weight: 600;
}
form .input-email-block i, form .input-street-block i {
  position: absolute;
  margin-top: 38px;
  margin-left: 12px;
  color: #262626;
}
form .input-password-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
form .input-password-block input {
  margin-top: 5px;
  width: 100%;
  padding: 10px 35px;
  background: #EDEDED;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}
form .input-password-block label {
  font-weight: 600;
}
form .input-password-block i {
  position: absolute;
  margin-top: 38px;
  margin-left: 12px;
  color: #262626;
}
form .input-password-block a {
  color: black;
  margin-top: 10px;
  width: 145px;
  margin-left: auto;
  text-decoration: underline;
}
form .input-password-re-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
form .input-password-re-block a {
  width: 230px;
  color: black;
  text-decoration: underline;
}
form .button-block {
  margin-top: 20px;
  width: 100%;
}
form .button-block button {
  width: 100%;
  background: black;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  padding: 10px 0px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
form .button-block button:hover {
  opacity: 0.7;
}

footer {
  margin-top: 120px;
  position: relative;
}

@media (min-width: 520px) {
  form {
    width: 500px;
  }
  form .input-name-block, form .input-adress-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  form .input-name-block input, form .input-adress-block input {
    margin-top: 10px;
    width: 220px;
    padding: 10px 0px 10px 35px;
    background: #EDEDED;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
  }
  form .input-name-block i, form .input-adress-block i {
    margin-top: 45px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 100px;
  }
}/*# sourceMappingURL=profile.css.map */